
h4 {
    color: rgb(3, 103, 185);
    font-size: 30px;
    margin-left:17%;
}

h1 {
    float: left;
    font-family: Cursive;
    color: rgb(3, 3, 3);
    background-color: rgb(44, 134, 170);
}

h2 {
    text-align: right;
}

h3 {
    text-align: right;
    margin-left:17%;
}

a{
    color: rgb(44, 134, 170);
    margin-left:17%;
}

table tr:nth-child(2n+1){
     background-color: rgb(204, 196, 182);
}

table{
    margin-left:17%;
}

img {
    border-style: solid;
    border-color: rgb(230, 203, 153);
    border-width: 3px;
    margin-left:17%;
}

p{
    font-family:sans-serif;
    margin-left:17%;
}
video{
    border-style: dashed;
    border-color: rgb(241, 155, 16);
    border-width: 3px;
    margin-left:17%;
}

ul{
    position:fixed;
}

form{
    margin-left:17%;
}

